[submodule "iRate"]
	path = iRate
	url = https://github.com/nicklockwood/iRate.git
[submodule "libgit2"]
	path = libgit2
	url = git@github.com:larssonphilip/libgit2.git
[submodule "git"]
	path = git
	url = git@github.com:oleganza/git.git
[submodule "MASPreferences"]
	path = MASPreferences
	url = https://github.com/larssonphilip/MASPreferences.git
